   .slider-container {
            position: relative;
            width: 100%;
            height: 500px;
            /* Increased height */
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .slider {
            display: flex;
            width: 100%;
            height: 100%;
            transition: transform 0.5s ease-in-out;
        }

        .slide {
            min-width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .slide img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            /* Ensures full image visibility without cropping */
        }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }

        

        @media screen and (max-width: 768px) {
            #backToTop {
                display: none !important;
            }
        }


        #backToTop {
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition */
            opacity: 0.5;

        }
    
        #backToTop:hover {
            transform: scale(1.1); /* Slight zoom effect */
            opacity: 1; /* Slight transparency */
            filter: drop-shadow( 0 0 10px rgba(198, 7, 7, 0.823)); /* Optional: Add a shadow */
        }




 




